.product-data-image{
  height: 560px;
}
.product-data-image img{
  height: 100%;
}

.Product-data-input input:focus{
  box-shadow: none;
}
.Product-data-btn button:hover{
  transition: 0.4s;
  transform: translateY(-6px);
  background-color: #9b3333 !important;
}

.Product-data-input textarea{
  resize: none;
  height: 120px !important;
}

.Product-data-input textarea:focus{
  box-shadow: none;
}

@media(max-width:770px){
  .product-data-image{
    height: 420px;
  }
}
@media(max-width:424px){
  .product-data-image{
    height: 300px;
  }
}